

.welcome {
  color: antiquewhite;
}

@media (min-width: 1200px) {
  .welcome {
    align-items: start;
  }
}

@media (min-width: 1200px) {
  .titleText {
    font-size: 30px;
    font-family: Arial;
    position: absolute;
    right: 400px;
    bottom: 100px;
  }
}

@media (min-width: 1200px) {
  .cardTitle {
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .img-fluid {
    width: 800px;
    height: auto;
    margin: 50px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 1200px) {
  .container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 100px;
  }
}

.signature {
  color: antiquewhite;
}

@media (min-width: 1200px) {
  .signature {
    font-size: 60px;
    position: absolute;
    right: 230px;
    bottom: 275px;
    font-family: Lucida Handwriting;
    z-index: 1;
  }
}

@media (min-width: 1200px) {
  .card-body {
    background-color: #faf9f8;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
    position: relative;
  }
}

@media (min-width: 1200px) {
  .myPic {
    max-width: 345px;
  }
}

.aboutCard {
  color: antiquewhite;
  background-color: rgb(63, 61, 78);
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
}

@media (min-width: 1200px) {
  .aboutCard {
    width: 950px;
  }
}

@media (min-width: 1200px) {
  .logOption {
   display: flex;
   flex-direction: column;
   justify-content: start;
  }
}

@media (min-width: 1200px) {
  .logContainer {
    width: 100%;
  }
}

