
@media (min-width: 1200px) {
    .msgform {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  } 

  @media (min-width: 1200px) {
    .dynamic-text {
      padding: 10px;
      margin-top: 50px;
      color: rgb(16, 104, 21);
      flex-grow: 2;
    }
  }

/* @media (min-width: 1200px) {
    .dynamic-text {
      display: flex;
      justify-content: center;
    }
  }  */
  
  @media (min-width: 1200px) {
    .form-text {
      flex-grow: 2;
    }
  }

@media (min-width: 1200px) {
    .contact-info {
      color: rgb(28, 28, 49);
      flex-grow: 1;
    }
  } 