
@media (min-width: 1200px) {
    .msgform {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      
    }
  } 

  @media (min-width: 1200px) {
    .form-text {
      
    }
  }

@media (min-width: 1200px) {
    .contact-info {
      color: rgb(28, 28, 49);
      
    }
  } 

  @media (min-width: 1200px) {
    .dynamic-text {
      margin: 100px;
    }
  }