
@media (min-width: 1200px) {
  .welcome {
    margin-left: 100px;
    margin-top: 100px;
    color: antiquewhite;
  }
}

@media (min-width: 1200px) {
  .titleText {
    font-size: 30px;
    font-family: Arial;
    position: absolute;
    right: 400px;
    bottom: 100px;
  }
}

@media (min-width: 1200px) {
  .img-fluid {
    width: 800px;
    height: auto;
    margin: 50px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 1200px) {
  .container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 100px;
  }
}

@media (min-width: 1200px) {
  .signature {
    font-size: 60px;
    position: absolute;
    right: 230px;
    bottom: 275px;
    color: antiquewhite;
    font-family: Lucida Handwriting;
    z-index: 1;
  }
}

@media (min-width: 1200px) {
  .card-body {
    background-color: #faf9f8;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
    position: relative;
  }
}

@media (min-width: 1200px) {
  .myPic {
    max-width: 345px;
  }
}

.aboutCard {
  color: antiquewhite;
  background-color: rgb(63, 61, 78);
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
}

@media (min-width: 1200px) {
  .aboutCard {
    margin-left: 275px;
  }
}
