h1 {
  color: antiquewhite;
  font-family: Lucida Handwriting;
  z-index: 1;
}

/* Media query for larger screens */
@media (min-width: 1200px) {
  .img-fluid {
    width: 800px;
    height: auto;
    margin: 50px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 1200px) {
  .container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 100px;
  }
}

@media (min-width: 1200px) {
  .signature {
    font-size: 60px;
    position: absolute;
    right: 230px;
    bottom: 275px;
  }
}
