.navbar {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: transparent;
    z-index: 1000;
  }
  
  .custom-toggler {
    padding: 5px;
    border: none;
    background: none;
  }
  
  .custom-toggler .navbar-toggler-icon {
    width: 20px;
    height: 20px;
  }
  
  .navbar-collapse {
    background-color: #333;
    padding: 10px;
    position: absolute;
    top: 40px;
    left: 0;
    border-radius: 4px;
  }
  
  .nav-link {
    color: #f4f4f4;
    margin: 5px 0;
  }
  