.btn-group {
  position: fixed;
  background-color: transparent;
}

.navTop {
  background-color: #111;
  padding: 10px;
  position: absolute;
  top: 20px;
  left: 5px;
  border-radius: 8px;
}

.nav-link {
  background-color: #111;
  color: #f4f4f4;
  margin: 5px 5px;
}

.list-item{
  color: #f4f4f4;
}

.list {
  background-color: #111;
}

  